
.open {
    position: fixed;
    
    height: 92vh;
    width: 100vw;
    bottom: 0;
    left: 0; right: 0;
    background-image: url('../public/interior/dooropen_wide.webp');
    background-repeat: no-repeat;
    background-size: cover;
    
}

.closed {
    position: fixed;
    
    height: 92vh;
    width: 100vw;
    bottom: 0;
    left: 0; right: 0;
    background-image: url('../public/interior/doorclosed_wide.webp');
    background-repeat: no-repeat;
    background-size: cover;
}

.door {
    background-color: transparent;
    position: absolute;
    left: 230px;
    top: 9vh;
    width: 330px;
    height: 540px;

    cursor: pointer;
    z-index: 1;
}

.bartender {
    position: absolute;
    top: 80px;
    left: 400px;
    height: 400px;
    width: 800px;
    background-image: url('../public/interior/Bartender.webp');
    background-repeat: no-repeat;
    background-size: cover;
}

.bartenderSelect {
    background-color: transparent;
    position: absolute;

    width: 190px;
    height: 34.5vh;
    top: 160px;
    left: 925px;
    cursor: pointer;
}

.bartenderSelect:hover {
    box-shadow: 5px 5px 15px, -5px 5px 15px;
}

.sorryBubble {
    position: absolute;
    background-image: url('../public/interior/sorryBubble.webp');
    background-repeat: no-repeat;
    background-size: cover;

    top: -2vh;
    left: 20vw;
    height: 60vh;
    width: 60vw;
    
    pointer-events: none;
}

.exitOption {
    position: absolute;
    background-image: url('../public/interior/exit.webp');
    background-repeat: no-repeat;
    background-size: cover;

    left: 360px;
    top: -50px;
    height: 375px;
    width: 375px;

    pointer-events: none;
}

.cheersOption {
    position: absolute;
    background-image: url('../public/interior/cheers.webp');
    background-repeat: no-repeat;
    background-size: cover;

    top: -2vh;
    left: 22vw;
    height: 55vh;
    width: 55vw;
    
    pointer-events: none;
}