
.open {
    position: fixed;
    
    height: 92vh;
    width: 100vw;
    bottom: 0;
    left: 0; right: 0;
    background-image: url('../public/interior/dooropen_wide.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.closed {
    position: fixed;
    
    height: 92vh;
    width: 100vw;
    bottom: 0;
    left: 0; right: 0;
    background-image: url('../public/interior/doorclosed_wide.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.door {
    background-color: transparent;
    position: absolute;
    left: 10vw;
    top: 9vh;
    width: 25vw;
    height: 67vh;

    cursor: pointer;
    z-index: 1;
}



.bartenderSelect {
    background-color: transparent;
    position: absolute;

    width: 16vw;
    height: 36vh;
    top: 19vh;
    left: 59vw;
    cursor: pointer;
}

.bartenderSelect:hover {
    outline: solid;
    outline-color: rgb(234, 160, 196);
    outline-width: 15px;
}

.sorryBubble {
    position: absolute;
    background-image: url('../public/interior/sorryBubble.webp');
    background-repeat: no-repeat;
    background-size: cover;

    top: -2vh;
    left: 20vw;
    height: 60vh;
    width: 60vw;
    
    pointer-events: none;
}

.toMint {
    position: absolute;
    background-image: url('../public/interior/wherepleb.webp');
    background-repeat: no-repeat;
    background-size: cover;

    top: -2vh;
    left: 20vw;
    height: 60vh;
    width: 60vw;
    
    pointer-events: none;
}

.connectWallet {
    position: absolute;
    background-image: url('../public/interior/connectwallet.webp');
    background-repeat: no-repeat;
    background-size: cover;

    top: -2vh;
    left: 5vw;
    height: 80vh;
    width: 80vw;
}

.cheersOption {
    position: absolute;
    background-image: url('../public/interior/cheers.webp');
    background-repeat: no-repeat;
    background-size: cover;

    top: -2vh;
    left: 22vw;
    height: 55vh;
    width: 55vw;
    
    pointer-events: none;
}

.warningNotice {
    position: absolute;
    height: 30vw;
    width: 40vw;
    margin: auto;
    top: 60vh;
    left: 30vw;
    
    color: rgb(234, 160, 196);
    font-size: 3rem;
    text-align: center;

    -webkit-text-stroke: 3px black;
    text-transform: uppercase;
    letter-spacing: 2px;
}

@media screen and (max-width: 1500px) {
    .door {
        left: 3vw;
        top: 9vh;
        width: 25vw;
        height: 67vh;
    }
    
    .bartenderSelect {
    
        width: 25vw;
        height: 36vh;
        top: 19vh;
        left: 59vw;
    }
}