.brewverse {
    background-color: rgb(0,0,0);
    /* height: 100vh; */
}

.canvas_container {
    width: 100vw; 
    height: 56.25vw; 
    max-height: 100vh;
    max-width: 177.78vh; 
    margin: auto;
    position: relative;
    top:0;bottom:0; 
    left:0;right:0;
} 

