.brewverse {
    background-color: rgb(0,0,0);
    /* height: 100vh; */
    overflow: hidden;
}

.canvas_container {
    width: 100vw; 
    height: 56.25vw; 
    max-height: 100vh;
    max-width: 177.78vh; 
    margin: auto;
    position: relative;
    top:0;bottom:0; 
    left:0;right:0;
} 

.imageContainer {
    position: absolute;
    width: 100%;
    height: 170vh;
    overflow: hidden;
    /* background-color: rgba(224, 233, 128, 0.4); */
    margin-top: -32vh;
}

.cloudLeft {
    position: absolute;
    overflow: hidden;
    background-image: url('../public/cloudsLeft.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 110%;
    width: 100%;
    z-index: 2;
    top: -5%; bottom: 0; 
    right: 15vw;

    animation: moveleftThenRight 20s infinite;
    animation-timing-function: ease-in-out;
}

.cloudRight {
    position: absolute;
    overflow: hidden;
    background-image: url('../public/cloudsRight.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 120%;
    width: 130%;
    z-index: 2;
    top: -12%; bottom: 0;
    left: -26vw;

    animation: moveRightThenLeft 20s infinite;
    animation-timing-function: ease-in-out;
}

.cloudGroup {
    position: absolute;
    background-image: url('../public/cloudGroup.png');
    background-size: cover;
    width: 120%;
    height: 90%;
    z-index: 1;
    overflow: hidden;
}

.one {
    left: 33vw;
    top: 19vh;
    transform: rotate(-10deg);
}

.two {
    right: 47vw;
    top: 30vh;
    transform: rotate(-10deg);
}

.cloudA {
    position: absolute;
    background-image: url('../public/cloud1.png');
    background-size: cover;
    width: 100%;
    height: 90%;
    z-index: 1;
    overflow: hidden;
}

.cloudB {
    position: absolute;
    background-image: url('../public/cloud3.png');
    background-size: cover;
    width: 100%;
    height: 90%;
    z-index: 1;
    overflow: hidden;
}

.three {
    top: -40vh;
    right: 55vw;
    z-index: 3;
}

.four {
    height: 120%;
    top: 12vh;
    left: 5vw;
    z-index: 3;
}

.five {
    top: -40vh;
    left: 15vw;
    z-index: 3;
}

@keyframes moveleftThenRight {
    50% {
        transform: translateX(50px);
    } 
    100% {
    }
}

@keyframes moveRightThenLeft {
    50% {
        transform: translateX(-50px);
    }
    100% {
    }
}




/* 
    2,732 x 2,048
*/