.collabsContainer {
    width: 100%;

    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    padding-bottom: 30vh;
}

.sectionHeader {
    margin-top: 100px;
    background-image: url('../public/COLLABREWS.webp');
    background-size: cover;
    height: 7.5vw;
    width: 45.5vw;
}

@media screen and (max-width: 800px) {
    .collabsContainer {
        padding-bottom: 20vh;
    }

    .sectionHeader {
        margin-top: 0;
        height: 14vw;
        width: 90vw;
    }
}
