.faq {
    background-color: black;
    transition: 0.4s;
    padding-top: 0px;
}

.sectionHeader {
    height: 200px;
    width: 400px;
    background-image: url('../public/FAQ.png');
    background-size: cover;
    margin-top: 100px;
    margin-bottom: 75px;
}

.sectionBorderImg {
    height: 1400px;
    width: 100%;
    background-image: url("../public/imageBorder.PNG");
    background-size: cover;
    margin-top: -500px;
}

@media screen and (max-width: 400px) {
    .sectionHeader {
        margin-left: 0;
        margin-right: 66vw;
        padding: 0;
        margin-top: -75px;
        margin-bottom: 0px;

        font-size: 50px;
    }
}