.faq {
    background-color: black;
    transition: 0.4s;
}

.sectionHeader {
    height: 175px;
    width: 350px;
    background-image: url('../public/FAQ.png');
    background-size: cover;
    margin-top: 5%;
    margin-bottom: 75px;
}


@media screen and (max-width: 400px) {
    .sectionHeader {
        margin-left: 0;
        margin-right: 66vw;
        padding: 0;
        margin-top: -75px;
        margin-bottom: 0px;

        font-size: 50px;
    }
}