.container {
  min-height: 100vh;
  min-width: 100vw;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.main {
  width: 100%;
  overflow: hidden;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.25rem;
}

.backgroundImage {
  width: 100%;
  background-image: linear-gradient(to top left, rgba(143, 124, 38, 0.2), rgba(56, 64, 44, 0.2)100), url('../public/barsceneone.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.navElement {
  width: 100%;
}

.footer {
  z-index: -1;
  height: 150px;
  width: 100vw;
  background-color: black;
}
