.container {
  min-height: 100vh;
  min-width: 100vw;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  width: 100%;
  overflow: hidden;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.25rem;
}

.backgroundImage {
  top: 0;
  height: 100vh;
  width: 100%;
  position: fixed;
  background-image: linear-gradient(to top left, rgba(90, 62, 75, 0.2), rgba(56, 64, 44, 0.2)100), url('../public/barsceneone.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.navElement {
  width: 100%;
}
