.nav {
  position: relative;
  height: 50px;
  width: 100%;
  padding: 6vh;
  background: #000;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1.75rem;
}
  
.nav ul {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.nav ul li a {
  margin: 5px 15px;
}

.linkGroup {
  position: absolute;
}

.li {
  margin: 0px 15px;
}

.link {
  letter-spacing: 2px;
}

.logoGroup {
  margin-right: auto;
}

.socialGroup {
  margin-left: auto;
}

.a {
  justify-content: center;
  align-items: center;
  
  margin: 0 10px;
}

.socialIcons {
  color: white;
  display: inline;
  height: 40px;
}
