.nav {
  position: fixed;
  height: 110px;
  padding: 0 20px;
  width: 100%;
  background: #000;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1.75rem;
  z-index: 2;
}
  
.nav ul {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.nav ul li a {
  margin: 5px 15px;
}

.scrollLink {
  color: white;
  height: 20px;
  width: 20px;
}

.logoGroup {
  position: absolute;
  left: 0;
  top: -60px;
}

.logoGroup:hover {
  cursor: pointer;
}

.menu {
  display: none;
  background-color: transparent;
  color: white;
  border: none;
}

.menu:hover {
  cursor: pointer;
}

.linkGroup {
  position: absolute;
  display: flex;
  flex-direction: row;
}

.li {
  margin: 0px 15px;
}

.link {
  letter-spacing: 2px;
}

.socialGroup {
  margin-left: auto;
  display: flex;
  flex-direction: row;
}

.a {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 10px;
}

.socialIcons {
  color: white;
  display: inline;
  height: 40px;
}

.icons {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 1700px) {
  .nav {
    position: relative;
    flex-direction: column;
    min-height: 110px;
    padding: 20px 0;
    height: auto;
    margin-bottom: -120px;
  }

  .logoGroup {
    position: absolute;
    display: block;
  }

  .menu {
    display: block;
    position: absolute;
    top: 30px;
    right: 20px;
    color: white;
  }

  .linkGroup {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .socialGroup {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 0;
  }

  .li, .a {
    margin-top: 15px;
  }

  .li:nth-of-type(1) {
    padding-top: 85px;
  }

  .icons {
    justify-content: center;
    margin: 0;
    padding: 0;
  }
}