.showcase {
    position: relative;
    color: white;
    background-color: black;
    overflow: hidden;
    padding: 0;
}

.contentContainer {
    position: relative;
    overflow: hidden;
    max-width: 100vw;
    transform: translate3d(0,0,0);
}

.sectionHeader {
    position: relative;
    margin-left: 48%;
    z-index: 3;
    background-image: url('../public/navbarLogo.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
    width: 40%;
}

.showcaseOverlay {
    margin-top: -100px;
    top: -45px;
    height: 100%;
    background-image: linear-gradient(to right, rgba(0,0,0,0) 25%,rgba(0,0,0, 1) 55%,
    rgba(0, 0, 0, 1) 100%);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    z-index: 1;
}

.first {
    left: 0;
    position: relative;
    display: flex;
    flex-direction: row;
    transform: translate3d(0,0,0);
    width: 4950px;

    animation: moveSlideshowLeft 35s linear infinite;
}

.second {
    left: -3500px;
    position: relative;
    display: flex;
    flex-direction: row;
    width:4950px;

    
    animation: moveSlideshowRight 38s linear infinite;
}

.third {
    left: 0;
    position: relative;
    display: flex;
    flex-direction: row;
    width: 4950px;
    margin-bottom: 400px;

    animation: moveSlideshowLeft 25s linear infinite;
}

.imgContainer {
    margin: 0;
    padding: 0;
    position: relative;
    height:275px;
    width: 275px;
}

.desc {
    margin-top: -25px;
    height: 100%;
    font-size: 25px;
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 50px;
    margin-left: 55%;
    margin-right: 8%;
    text-align: center;
}

@keyframes moveSlideshowLeft {
    100% {
        transform: translateX(-66.66666%);
    }
}

@keyframes moveSlideshowRight {
    100% {
        transform: translateX(66.66666%);
    }
}

@media screen and (max-width: 1700px) {
    .showcaseOverlay {
        position: relative;
    }

    .third {
        margin-bottom: 5px;
    }

    .desc {
        margin-top: 0;
        margin-bottom: 75px;
        text-align: center;
        width: 80vw;
        margin-left: auto;
        margin-right: auto;
        font-size: 25px;
    }

}

@media screen and (max-width: 400px) {
    .sectionHeader {
        font-size: 30px;
        margin-bottom: -35px;
    }

    .first {
        left: 2000px;
    }

    .second {
        left: 1400px;
    }

    .third {
        left: 2200px;
        margin-bottom: -25px;
    }

    .desc {
        margin-top: -65px;
        font-size: 17px;
        line-height: 25px;
        margin-bottom: 35px;
    }

    .imgContainer {
        height: 150px;
        width: 150px;
    }
}

