.showcase {
    position: relative;
    background-color: skyblue;
    overflow: hidden;
    height: 100vh;
}

.first {
    top: 250px;
    left: 40vw;
    position: absolute;
    display: flex;
    flex-direction: row;
    background-color: white;
    height: 285px;
    width: 3000px;
}

.second {
    top: 550px;
    left: -30vw;
    position: absolute;
    display: flex;
    flex-direction: row;
    background-color: orange;
    height: 285px;
    width:3000px;
}

.imgContainer {
    position: relative;
    margin: 10px 5px;
    height:275px;
    width: 275px;
}