.showcase {
    position: relative;
    color: white;
    background-color: black;
    overflow: hidden;
    padding: 0;
}

.sectionHeader {
    z-index: 2;
    position: relative;
    letter-spacing: 3px;
    font-size: 35px;
}

.showcaseOverlay {
    background-image: linear-gradient(to right, rgba(0,0,0,0)0,rgba(0,0,0, 1) 70%,
    rgba(0, 0, 0, 1) 100%);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;;
    z-index: 1;
}

.first {
    left: 2500px;
    position: relative;
    display: flex;
    flex-direction: row;
    width: 4500px;
}

.second {
    left: -30vw;
    position: relative;
    display: flex;
    flex-direction: row;
    width:4500px;
}

.third {
    left: 3000px;
    position: relative;
    display: flex;
    flex-direction: row;
    height: 270px;
    width: 4500px;
    margin-bottom: 100px;
}

.imgContainer {
    margin: 0;
    padding: 0;
    position: relative;
    height:275px;
    width: 275px;
}

.desc {
    font-size: 35px;
    letter-spacing: 1px;
    line-height: 40px;
    margin-top: 3%;
    margin-left: 55%;
    margin-right: 30%;
}

@media screen and (max-width: 1700px) {
    .showcaseOverlay {
        position: relative;
    }

    .third {
        margin-bottom: 5px;
    }

    .desc {
        margin-top: 0;
        margin-bottom: 75px;
        text-align: center;
        width: 80vw;
        margin-left: auto;
        margin-right: auto;
        font-size: 25px;
    }

}

@media screen and (max-width: 400px) {
    .sectionHeader {
        font-size: 30px;
        margin-bottom: -35px;
    }

    .first {
        left: 2000px;
    }

    .second {
        left: 1400px;
    }

    .third {
        left: 2200px;
        margin-bottom: -25px;
    }

    .desc {
        margin-top: -65px;
        font-size: 17px;
        line-height: 25px;
        margin-bottom: 35px;
    }

    .imgContainer {
        height: 150px;
        width: 150px;
    }
}

