.sectionContainer {
    width: 100vw;
    display: flex;
    flex-direction: row;
    margin-top: 150px;
    margin-bottom: 10vh;;
}

.sectionHeader {
    background-image: url('../public/optTankTransp.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    width: 28vw;
    height: 14vw;
    position: relative;
    margin-left: 8%;
    padding-right: 2%;
}

.mainContent {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    
    width: 42%;
    margin-left: 6%;
    margin-right: 2%;
}

.visualContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    width: 40%;
    padding-left: 2%;
    height: inherit;
}

.sectionImage {
    background-image: url('../public/tankcollabs.webp');
    background-size: cover;
    background-repeat: no-repeat;
    height: 72%;
    width: 100%;
}

.sectionText {
    position: relative;
    margin-left: 8%;
    padding-right: 2%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 30px;
    letter-spacing: 1px;
    text-align: center;
}

.sectionText h1 {
    font-size: 3rem;
    
    line-height: 4rem;
}

.sectionText p {
    font-size: 1.2rem;
    padding: 0 2%;
}

.socialIcons {
    color: white;
    display: inline;
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

.physical {
    width: 80%;
    color: white;
}

.arrow {
    height: 25px;
    margin-right: 10px;

}

.physical h2 {
    font-weight: 300;
    letter-spacing: 5px;
}

.physical:after {
    content: '';
    position: absolute;
    height: 5px;
    background-color: white;
    right: 5%;
    left: 5%;
}

@media screen and (max-width: 1700px) {
    .sectionContainer {
        margin-bottom: 15vh;
    }

    .mainContent {
        margin-right: 0;
        padding-right: 0;
    }

    .sectionHeader {
        padding-right: 0;
        margin: auto;
        width: 24vw;
        height: 12vw;
    }

    .sectionText {
        margin: 0;
    }

    .sectionText p {
        margin-bottom: 2vh;
    }
}

@media screen and (max-width: 800px) {
    .sectionContainer {
        margin-top: 0vh;
        width: 100vw;
        margin-bottom: 5vh;
    }

    .mainContent {
        width: 100%;
        margin: 0;
        height: auto;
    }

    .sectionHeader {
        margin: 0;
        margin-top: 5vh;
        width: 46vw;
        height: 23vw;
    }

    .visualContent {
        margin-top: 5vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sectionContainer {
        flex-direction: column;
    }

    .sectionText {
        margin-left: 0;
        width: 80vw;
        position: relative;
        margin-bottom: 0;
        height: auto;
    }

    .sectionText h1 {
        font-size: 1.5rem;
        line-height: 1.6rem;
    }

    .sectionText p {
        font-size: 1rem;
        line-height: 1.1rem;
        width: 80vw;
    }

    .sectionImage {
        position: relative;
        height: 72vw;
        width: 100vw;
    }

    .physical {
        margin-top: 5vh;
        font-size: 1rem;
        position: relative;
    }

    .physical::after {
        width: 90vw;
        left: -5vw;
    }

    .arrow {
        height: 20px;
        margin-right: 10px;
    }
}
