.team {
    background-image: url("../public/barsceneone.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;

    padding-top: 0vh;
    padding-bottom: 0vh;
}

.gradient {
    background-image: linear-gradient(to top, rgba(0,0,0, 1) 0,
    rgba(0,0,0, 0.4) 25%,
    rgba(0,0,0, 0.4) 65%,
    rgba(0,0,0, 1) 85%); 
    color: whitesmoke;

    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vh 0;
}

/* section header */
.containerHeader {
    display: flex;
    flex-direction: row;
    width: 90vw;
    justify-content: center;
    align-items: center;
}

.headerKeg {
    background-image: url('../public/teamheader.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    height: 7.5vw;
    width: 36.5vw;
    margin-bottom: 5vh;
}

/* section content */
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

/* card content */
.card {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
}

.imgContainer {
    width: 100%;
    height: 275px;
    transform-style: preserve-3d;
    transition: all 1.0s linear;
    perspective: 1000;
    display: flex;
    justify-content: center;
}

.img {
    position: absolute;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    overflow: hidden;
    backface-visibility: hidden;
}

.imgContainer:hover {
    position: relative;
    transform: rotateY(180deg);
}

.imgBack {
    height: 249px;
    width: 249px;
    border-radius: 50%;
    overflow: hidden;
    transform: rotateY(180deg);
    color: white;
    text-align: center;
    backface-visibility: hidden;
}

.heading {
    color: #e69fc0;
    width: 100%;
    margin: 10px;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.heading h3 {
    margin: 0;
}

.twitter {
    margin-left: 15px;
    margin-right: 0;
    display: inline;
    height: 30px;
}

.twitter:hover {
    opacity: 0.75;
}

.card p {
    margin: 0;
    width: 250px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* Desktop */
@media screen and(max-width: 1700px) {
    
}

/* Tablet */
@media screen and (max-width: 800px) {
    /* Try commenting out the below for mobile */
    .team {
        background-image: none;
        background-color: #b5d9dc;
    }

    .gradient {
        background-image: linear-gradient(to top, rgba(0,0,0, 1) 0,
        rgba(0,0,0, 0.25) 25%,
        rgba(0,0,0, 0.25) 65%,
        rgba(0,0,0, 1) 85%);
    }

    .headerKeg {
        height: 14vw;
        width: 68.3vw;
    }

    .container {
        flex-direction: column;
    }

    .imgContainer {
        height: 175px;
    }

    .img {
        height: 150px;
        width: 150px;
    }

    .imgBack {
        height: 149px;
        width: 149px;
    }
}